.wrapper {
	height: 100vh;
	display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
	align-items: center;
}

.chop {
	text-decoration: none;
	color: #262626;
	font-family: sans-serif;
	font-size: 45px;
	border: 5px solid #262626;
	padding: 40px 80px;
	position: relative;
	overflow: hidden;
}

.chop:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff200;
	height: 100%;
	width: 100%;
    z-index: -1;
    transition: all 1s;
	transform-origin: bottom left;
 	transform: rotate(-90deg);
	transition: transform 1s;
}

.chop:hover:before {
	transform: rotate(0deg);
}

.slide-left {
	text-decoration: none;
	color: #351435;
	font-family: sans-serif;
	font-size: 45px;
	border: 5px solid #351435;
	padding: 40px 80px;
	position: relative;
    overflow: hidden;
}

.slide-left:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #351435;
	z-index: -1;
	transform: translateX(-100%);
	transition: all 1s;
}

.slide-left:hover:before {
	transform: translateX(0);
}

.slide-left:hover {
	color: white;
}

.cross {
	text-decoration: none;
	color: #262626;
	font-family: sans-serif;
	font-size: 45px;
	border: 5px solid #262626;
	padding: 40px 80px;
	position: relative;
    overflow: hidden;
}

.cross:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #262626;
	transition: 1s;
	transform: rotateX(90deg);
	z-index: -1;
}

.cross:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #262626;
	transition: 1s;
	transform: rotateY(90deg);
	z-index: -1;
}

.cross:hover:before {
	transform: rotateX(0);
}

.cross:hover:after {
	transform: rotateY(0);
}

.cross:hover {
	color: white;
}

.expand {
    text-decoration: none;
    padding: 40px 80px;
    color: #e1332d;
    border: 5px solid #e1332d;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: -2px;
}
.expand:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 9px solid #e1332d;
}


.slide-top {
	text-decoration: none;
	color: #351435;
	font-family: sans-serif;
	font-size: 45px;
	border: 5px solid #351435;
	padding: 40px 80px;
	position: relative;
    overflow: hidden;
}

.slide-top:before {
	content: 'hey';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #351435;
	transform: translateY(-100%);
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-top:hover:before {
	transform: translateY(0);
}

.slide-top:hover {
	color: white;
}

.slice {
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-size: 45px;
	border: 5px solid white;
	padding: 40px 80px;
	position: relative;
    background-color: #222;
    overflow: hidden;
}
.slice:hover {
    background-color: #f44336;
}
.slice:before {
    content: '';
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
}
.slice:hover:before {
    transform: translateX(100%) rotate(45deg);
}

.shift {
	text-decoration: none;
    background-color: #262626;
    color: transparent;
	font-family: sans-serif;
	font-size: 45px;
	border: 5px solid #262626;
	padding: 40px 80px;
	position: relative;
	overflow: hidden;
}
.shift:before {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.shift:after {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: translate(-100%, 100%);
}
.shift:hover:before {
    transform: translate(100%, -100%);
}
.shift:hover:after {
    transform: translate(0, 0);
}

.out {
	text-decoration: none;
	color: #262626;
	font-family: sans-serif;
	font-size: 45px;
	border: 5px solid #262626;
	padding: 40px 80px;
    position: relative;
    overflow: hidden;
}
.out:before {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#262626;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    opacity: 0;
    transition: all 0.5s;
}
.out:hover:before {
    transform: scale(1);
    opacity: 1;
}